#wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 1, 24, 0.856);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#container{
    padding-top: 10px;
    border-radius: 20px;
    line-height: 13px;
    width: 350px;
    height: 500px;
    background: linear-gradient(180deg, rgba(0,215,255,1) 10%, rgba(7,107,74,1) 100%, rgba(14,121,77,1) 210%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    margin-bottom: 40px;
    font-weight: bold;;
}
.inputAndBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.visibleCity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Btn{
    background-color: rgb(29, 88, 214);
    border: none;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-top: 17px;
    width: 110px;
}
.Btn:focus{
    outline: none;
}
#weather-Btn{
    background-color: rgb(29, 88, 214);
    border: none;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-top: 17px;
    width: 110px;
}
#weather-Btn:focus{
    outline: none;
}
#inputCity{
    border: 1px solid rgba(211, 207, 207, 0.849);
    border-radius: 5px;
    height: 30px;
    width: 230px;
    padding-left: 15px;
}
#inputCity:focus{
    outline: none;
}
.dateTime{
    color: rgb(248, 64, 51);
    margin-bottom: 10px;
}
.weatherImg{
    transform: scale(1.9);
    margin-bottom: 5px;
}
.weatherInfo{
    display: none;
}
.weatherInfo.visible{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
}
#countryFlag{
    margin-top: 10px;
    width: 35px;
    height: 25px;
}
.weathers{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 15px;
    margin-bottom: 10px;
}
.allWeathers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    border: 1px solid white;
    padding-inline: 25px;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: rgba(221, 216, 216, 0.377);
    margin: 2px;
}
.weatherDescription{
    color: rgb(245, 92, 45);
}